20_Monitoring Health of IIOT Devices using Blockchain/Working source code/IBM IOT flow.txt
[{"id":"fe9c1906.425d68","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"af8a246e.4fbf88","type":"debug","z":"fe9c1906.425d68","name":"device data","active":true,"complete":"false","x":270,"y":200,"wires":[]},{"id":"6050e19b.074a5","type":"ibmiot in","z":"fe9c1906.425d68","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"cd3668a9d6aa","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":"","allFormats":"","qos":"0","x":100,"y":260,"wires":[["af8a246e.4fbf88","1f80eb9f.4f5cd4","2253eb32.e94004","bb193b42.89b378","36d03f7e.d30a6"]]},{"id":"1f80eb9f.4f5cd4","type":"function","z":"fe9c1906.425d68","name":"temp","func":"return{payload:msg.payload.d.temp};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":260,"wires":[["75e422f5.50ad7c","68d08229.5e6dfc","de69abdf.7975c8","ccecdec.4f9712"]]},{"id":"2253eb32.e94004","type":"function","z":"fe9c1906.425d68","name":"Humidity","func":"return{payload:msg.payload.d.humidity,topic:'Humidity'};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":340,"wires":[["a07f702e.7ebd1","de69abdf.7975c8","ccecdec.4f9712"]]},{"id":"bb193b42.89b378","type":"function","z":"fe9c1906.425d68","name":"Object Temp","func":"return{payload:msg.payload.d.objectTemp,topic:'Object temperature'};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":400,"wires":[["bfcd2588.ee5a38","de69abdf.7975c8","ccecdec.4f9712"]]},{"id":"75e422f5.50ad7c","type":"switch","z":"fe9c1906.425d68","name":"temp thresh","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"60","vt":"str"},{"t":"gte","v":"80","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":160,"wires":[["fc1ec93c.3e79b8"],["12cf95d8.ba325a"]]},{"id":"fc1ec93c.3e79b8","type":"template","z":"fe9c1906.425d68","name":"Safe","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Temperature({{payload}}) within safe limits","output":"str","x":630,"y":100,"wires":[["734913dd.81a23c"]]},{"id":"12cf95d8.ba325a","type":"template","z":"fe9c1906.425d68","name":"Danger","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Temperature ({{payload}}) critical!","output":"str","x":640,"y":240,"wires":[["734913dd.81a23c","ee5121b5.c0cd8"]]},{"id":"734913dd.81a23c","type":"debug","z":"fe9c1906.425d68","name":"cpu status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":160,"wires":[]},{"id":"ee5121b5.c0cd8","type":"e-mail","z":"fe9c1906.425d68","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"iiotblockchain21@gmail.com","dname":"Alert","x":810,"y":240,"wires":[]},{"id":"68d08229.5e6dfc","type":"ui_gauge","z":"fe9c1906.425d68","name":"","group":"a54677be.62b79","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"-10","max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"50","x":470,"y":240,"wires":[]},{"id":"a07f702e.7ebd1","type":"ui_gauge","z":"fe9c1906.425d68","name":"","group":"4c2982c.15e91fc","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":360,"y":300,"wires":[]},{"id":"bfcd2588.ee5a38","type":"ui_gauge","z":"fe9c1906.425d68","name":"","group":"6bc9a9f0.9ccf58","order":1,"width":0,"height":0,"gtype":"gage","title":"Object Temperature","label":"°C","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"80","x":450,"y":440,"wires":[]},{"id":"de69abdf.7975c8","type":"ui_chart","z":"fe9c1906.425d68","name":"","group":"80fcf2f5.7dc2c","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":550,"y":380,"wires":[[]]},{"id":"ccecdec.4f9712","type":"cloudant out","z":"fe9c1906.425d68","name":"database","cloudant":"","database":"iiot","service":"node-red-erajg-2021--cloudant-1617709899712-24183","payonly":false,"operation":"insert","x":580,"y":320,"wires":[]},{"id":"36d03f7e.d30a6","type":"function","z":"fe9c1906.425d68","name":"Format device","func":"// Create MQTT message in JSON\nmsg = {\n payload: JSON.stringify(\n {\n d:{\n \"temp\" : msg.payload.d.temp,\n \"humidity\" : msg.payload.d.humidity,\n \"objectTemp\": msg.payload.d.objectTemp\n }\n }\n )\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":80,"wires":[["ea18a286.d4563"]]},{"id":"ea18a286.d4563","type":"ibmiot out","z":"fe9c1906.425d68","authentication":"quickstart","apiKey":"aec6c42f.26e2f8","outputType":"evt","deviceId":"cd3668a9d6aa","deviceType":"1.2.9","eventCommandType":"update","format":"json","data":"{d:{“temp\":28,\"humidity\":79,\"objectTemp\":24}}","qos":0,"name":"IBM IoT App out","service":"quickstart","x":440,"y":80,"wires":[]},{"id":"a54677be.62b79","type":"ui_group","name":"Temperature","tab":"632f71ef.c9a91","order":1,"disp":true,"width":"11","collapse":false},{"id":"4c2982c.15e91fc","type":"ui_group","name":"Humidity","tab":"632f71ef.c9a91","order":2,"disp":true,"width":"11","collapse":false},{"id":"6bc9a9f0.9ccf58","type":"ui_group","name":"Object Temperature","tab":"632f71ef.c9a91","order":3,"disp":true,"width":"11","collapse":false},{"id":"80fcf2f5.7dc2c","type":"ui_group","name":"Chart","tab":"632f71ef.c9a91","order":4,"disp":true,"width":"33","collapse":false},{"id":"aec6c42f.26e2f8","type":"ibmiot","name":" Hay Bale IoT Platform","keepalive":"60","serverName":"mtzwzt.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"632f71ef.c9a91","type":"ui_tab","name":"IoT sensor","icon":"dashboard","order":3}]